

.global-vars {
    --padding-xs: 0.4rem;
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --padding-lg: 3rem;


    --margin-xs: 0.4rem;
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 4rem;

    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-board-sm: 70px;
    --font-board-md: 90px;
    --font-board-lg: 120px;

    --background: #f4f4f6;
    --background-highlight: #f4f4f6;
    --content-highlight: #9999a1;
    --font-color-primary: #201934;
    --font-color-secondary: #9999A1;
    --contrast-primary: #8c62ff;
    --contrast-secondary: #cab6ff;
}

.dark-theme {
    --background: #1b1b1e;
    --background-highlight: #000000;
    --content-highlight: #3f3f3f;
    --font-color-primary: #ffffff;
    --font-color-secondary: #828282;
    --contrast-primary: #a688fa;
    --contrast-secondary: #2d2348;
}

:root {
    font-family: "Jersey 15", sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
    height: 100vh; 
    margin: 0;
    padding: 0;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    background-color: var(--background);
    color: var(--font-color-primary);
}


/* change default margins */
h1, h2, h3, h4, h5, h6, p {
    margin: 0.2rem;
}


/* Large phones, small tablets */
@media only screen and (min-width: 570px) {
    body {
        font-size: var(--font-size-md);
    }
}


/* Medium devices, land scape tablets */
@media only screen and (min-width: 768px) {
    body {
        font-size: var(--font-size-md);
    }
}

/* Large and X-Large devices */
@media only screen and (min-width: 992px) {
    body {
        font-size: var(--font-size-lg);
    }
}