@import url("globals.css");
@import url("typography.css");


main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: var(--padding-sm);
}


.board {
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    height: 80vw;
    transition: all 0.3s ease-in-out;
    

   
    .cell {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.4rem solid;
        border-color: var(--contrast-secondary);
        font-size: var(--font-board-sm);
    }

    .cell_0 {
        grid-column: 1/2;
        grid-row: 1/2;
        border: none;
        border-bottom: 0.4rem solid; 
        border-right: 0.4rem solid; 
    }
    
    .cell_1 {
        grid-column: 2/3;
        grid-row: 1/2;
        border-top: none;
        border-bottom: 0.4rem solid; 
        border-right: 0.4rem solid;
    }
    .cell_2 {
        grid-column: 3/4;
        grid-row: 1/2;
        border-top: none;
        border-right: none;
        border-bottom: 0.4rem solid; 
    }
    .cell_3 {
        grid-column: 1/2;
        grid-row: 2/3;
        border-left: none;
        border-right: 0.4rem solid; 
        border-bottom: 0.4rem solid; 
    }
    .cell_4 {
        grid-column: 2/3;
        grid-row: 2/3;
        border-right: 0.4rem solid; 
        border-bottom: 0.4rem solid; 

    }
    .cell_5 {
        grid-column: 3/4;
        grid-row: 2/3;
        border-right: none;
        border-bottom: 0.4rem solid; 
    }
    .cell_6 {
        grid-column: 1/2;
        grid-row: 3/4;
        border-left: none;
        border-bottom: none;
        border-right: 0.4rem solid; 
    }
    .cell_7 {
        grid-column: 2/3;
        grid-row: 3/4;
        border-bottom: none;
        border-right: 0.4rem solid; 
    }
    .cell_8 {
        grid-column: 3/4;
        grid-row: 3/4;
        border-right: none;
        border-bottom: none;
    }
}


.logo {
    display: flex;
    justify-content: center;
    padding: var(--padding-sm);
    margin-top: 0;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    padding: var(--padding-md);
}

.setting-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.25rem;
    padding:  var(--padding-xs);
    min-width: 3rem;
    width: fit-content;
    background-color: var(--contrast-primary);
    font-family: inherit;
    transition: all 0.1s ease-in;
    font-size: inherit;
    box-shadow: 0.2rem 0.1rem  var(--font-color-primary);
    margin: var(--margin-sm);

    &:hover{
        cursor: pointer;
        background-color: var(--contrast-secondary);
        color: var(--font-color-primary);
        box-shadow:none;
    }

    .setting-icon {
        width: 15px;
        height: 15px;
        margin: 0 0 0 var(--margin-xs);
    }
}


.scores-and-turn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding-sm);
    font-size: 2rem;
    color: var(--font-color-secondary);
    margin: auto;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 var(--padding-sm);
  
}


.current-turn {
    color: var(--contrast-primary);
}


.board-message {
    padding: var(--margin-md);
    margin: auto;
    color: var(--contrast-primary);
    /* stop jumping */
    min-height: 1rem;  
}



/* Large phones, small tablets */
@media only screen and (min-width: 570px) {
    .board {
        width: 60vw;
        height: 60vw;
        .cell{
            font-size: var(--font-board-md);
        }
    }
}



/* Medium devices, land scape tablets, large phones */
@media only screen and (min-width: 768px) {
    .board {
        width: 50vw;
        height: 50vw;
    }
}

/* Large and X-Large devices */
@media only screen and (min-width: 992px) {
    .logo-settings-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .board {
        width: 50vh;
        height: 50vh;
        .cell{
            font-size: var(--font-board-lg);
        }
    }
}